.section-title{
    font-size: 30px;
    font-weight: bold;
    color: #252432;

}
.section-description{
    font-size: 24px;
    color: #252432;
    text-align: top;
    text-align: left;
}
.main{
    max-width: 1140px;
    margin: 0 auto;
}
    
.about{
    display: flex;
    justify-content: space-between;
    padding: 80px;
   text-align: left;
   text-decoration-thickness: 900px 150px;

}
.banner-profile-pic{
    width: 300px;
    max-width: 200;
    border-radius: 20px;
}