.footer-title{

     font-weight: 800;
    font-size: 100px;
    text-align: center;
}
.footer-p{
    color: #8987A1;
    width: 600px;
    height: 60px;
     font-size: larger;
     text-align: center;
     margin: auto;
     line-height: 1.5;
}
.footer-items{
    display: flex;
    justify-content: space-around;
    color: #8987A1;
    width: 600px;
    text-align: center;
    margin: auto;
}
.item-title{
    color: #8987A1;
    width: 100px;
    height: 60px;
    font-size: larger:
    text

}