
.product-title{
    font-size: 50px;
    font-weight: bolder;
   
}
.secondary-bg{
    background-color: #b6b5d8;
}

.productive-users{
    display: flexbox;
    padding-top: 20px ;
    border-radius: 30px;
   justify-content: center;
}
.users{
  display: flex;
  border-radius: 50px;
    justify-content: space-around;
    margin-top: 10px;
}
.text-center{
    text-align: center;
}